.godot/
bin/
/android/
.git/
.idea/
.vs/
publish/
Properties/
packages/
.editorconfig
*.user
Directory.Build.props
References/
scripts/
addons/*
!addons/spine/
!addons/spine/**
addons/spine/windows/~*
/DownfallU/localization/*/*.json
